*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.titulo{
  margin-bottom: 0;
}

.progress{
  margin: 0% 10% 5% 0%;
}


/* Responsivo */

@media screen and (max-width: 991px) {
  *{
    font-size: small;
  }
}

@media screen and (min-width: 768px) {
  .divisor_resp{
    display: none;
  }
}  